@page "/Profile"

<h3></h3>

<div class="profile">
    <img src="https://scontent.fceb1-2.fna.fbcdn.net/v/t39.30808-6/464106414_513277541603527_311216605960499074_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=a5f93a&_nc_eui2=AeGeHvIBbSWY1IBRCST6dSX-vqVSeC07anq-pVJ4LTtqemKuI95VuNEUZLXbhrsIza_xF0xy4wSHe_Nf9dWe3g3L&_nc_ohc=cAwtTA1Ftk0Q7kNvgFBpn7I&_nc_zt=23&_nc_ht=scontent.fceb1-2.fna&_nc_gid=A9X5BS2lnBTDUF0bh1orLgz&oh=00_AYB8pXDvq_EypKKSqb3B2UaNAuYAaE0YR90-7RJYleJrrw&oe=6730E165"
         alt="Profile Picture"
         class="profile-picture" />
    <h4>@Name</h4>
    <p><strong>Occupation:</strong> @Occupation</p>
    <p><strong>Location:</strong> @Location</p>
    <p><strong>Interests:</strong> @string.Join(", ", Interests)</p>
    <q><strong>About Me:</strong> @AboutMe</q>
</div>

@code {
    private string Name = "DINDO O MONLOY";
    private string Occupation = "Student";
    private string Location = "Philippines";
    private List<string> Interests = new List<string> { "Motor show", "Spider fight", "Drag Race", "Mobile Legends", "Gym" };
    private string AboutMe = "I am passionate about coding, especially in C#. I enjoy learning new technologies and working on challenging projects.";
}
<style>
    .profile {
        text-align: center;
        max-width: 300px;
        margin: 0 auto;
        color: #fcfcfc;
 
    }

    .profile-picture {
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }

    h4 {
        margin-top: 10px;
        font-size: 1.5rem;
    }

    p {
        margin: 5px 0;
        font-size: 1rem;
    }

    q {
        margin: 10px 0;
        font-size: 1rem;
    }
</style>
